input{
    width: 100%;
    padding: 16px;

    background-color: transparent;

    border: 2px solid #000;
    border-radius: 10px;
    outline: none;

    color: #fff;

    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;

    &::placeholder{
        color: rgb(13, 59, 97);
    }
}