.container-fgtp {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #8d8e91;

  .content {
    width: 600px;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 40px;

    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.9);

    h1 {
      font-family: "Open Sans", sans-serif;
      font-size: 40px;
      font-weight: bold;
      text-transform: uppercase;

      color: rgb(180, 72, 39);
    }

    p {
        width: 550px;

      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 600;
      text-transform: initial;

      color: rgb(13, 59, 97);
    }

    form {
      width: 500px;

      display: flex;
      align-items: center;
    }

    button {
      padding: 16px 30px 16px 30px;
      margin-left: 10px;

      border-radius: 10px;
      border: none;
      outline: none;

      background-color: rgb(180, 72, 39);
      color: #fff;

      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;

      transition: 0.4s all ease-in-out;

      &:hover {
        filter: brightness(0.6);
        transition: 0.4s all ease-in-out;
      }
    }
  }
}
